@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');
/* You can add global styles to this file, and also import other style files */
body {
   font-family: 'M PLUS 1 Code', sans-serif;
   background-color: rgb(0, 0, 0);
}

header{
   text-align: center;
   margin-top: 10vh;
}

h1 {
   color: #ffffff;
   font-size: 24px;
 }

 input:focus {
   outline: none;
 }